doctype
html(lang="es", class="no-js")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Territorio Celestial
    link(rel="stylesheet", href="https://file.myfontastic.com/sUJKcmymnKUM2VBqsBbZjC/icons.css")
    link(rel="stylesheet", href="core/css/main.css")
  body
    header#header
      .grupo
        .caja.no-padding.right-fx
          div#menu.menu.pointer
            span Menú
            #barMenu.barMenu
              div.bar1
              div.bar2
              div.bar3
        .caja.titulo-slogan.left-fx.padding-2
          h1.tc Territorio Celestial
            span.slogan un lugar, un tiempo y un estilo
        .caja.redes-sociales.centrar-fx.mediano
          //facebook
          a.iconGeneral(href="http://www.facebook.com", target="_blank") 
            span.icon-facebook
          //instagram
          a.iconGeneral(href="http://www.instagram.com", target="_blank") 
            span.icon-instagram
          //mail
          span#contacto.icon-mail1.iconGeneral.pointer
            
  script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="core/js/main.js")
